title: Line 
icon: eicon-code 
content:
	General: 
		line_content: 
			type: text
			label: Line content
			default: Hello world 
		content_color:
			type: color
			label: Color
			selector: "{{WRAPPER}} .line"
