{layout '@layout.latte'}

{block title}Widgetizer{/block}
{block content}
    <div id="wpseed-widgetizer-admin">
        <div>
            <router-link to="/home">Перейти к Foo</router-link>
            <router-link to="/widget/widgetizer/hello-world">Перейти к Bar</router-link>
        </div>
        <router-view></router-view>
    </div>
{/block}
