// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.wrap--wpseed h1 {
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.2;
	text-transform: uppercase;
}

.wpseed-widgetizer-providers {

}

.wpseed-widgetizer-providers__item {
	display: block;
	padding: 1rem;
	border-radius: .5rem;
	border: 2px solid #333333;
}

.wpseed-widgetizer-widgets {

}

.wpseed-widgetizer-widgets::after {
   clear: both;
   content: "";
   display: block;
}

.wpseed-widgetizer-widgets__item {
	display: block;
	float: left;
	margin-right: 1%;
	width: 24%;
	padding: 1rem;
	border-radius: .5rem;
	border: 2px solid #333333;
}
